*{
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Montserrat', sans-serif;
}

.icon{
    margin-left: 510px;
}

.name{
    margin-left: 200px;
    color: black;
}
.city{
    margin-left: 200px;
}
.zip{
    margin-left: 190px;
}
.no{
    margin-left: 145px;
}
.c{
    margin-left: 180px;
}
.list{
    margin-left: 130px;
}
.a{
    font-size: large;
}
